<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.love">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_PERMISSIONS" />

    <!-- android:theme="@style/AppTheme" -->
    <application
        android:name=".app.YcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/JK.SwipeBack.Transparent.Theme">
        <activity
            android:name=".ui.activity.SpecializedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.RecyclerViewSlidingActivity" />
        <activity android:name=".ui.activity.Main4Activity" />
        <activity android:name=".ui.activity.IdCorrelationSlidingActivity" />
        <activity android:name=".ui.activity.LoveHealActivity" />
        <activity android:name=".ui.activity.LoveDialogueActivity" />
        <activity android:name=".ui.activity.LoveHealingActivity" />
        <activity android:name=".ui.activity.LoveByStagesActivity" />
        <activity android:name=".ui.activity.LoveUpDownPhotoActivity" />
        <activity android:name=".ui.activity.LoveIntroductionActivity" />
        <activity android:name=".ui.activity.BecomeVipActivity" />
        <activity android:name=".ui.activity.UserInfoActivity" />
        <!--
       //图片选择Activity
       //去掉Activity的ActionBar。
       //使用者可以根据自己的项目去配置，不一定要这样写，只要不Activity的ActionBar去掉就可以了。
       //横竖屏切换处理。
       //如果要支持横竖屏切换，一定要加上这句，否则在切换横竖屏的时候会发生异常。
        -->
        <!--
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        &lt;!&ndash; //图片预览Activity &ndash;&gt;
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        &lt;!&ndash; //图片剪切Activity &ndash;&gt;
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yc.love.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.CollectActivity" />
        <activity android:name=".ui.view.imgs.ISListActivity" />
        <activity android:name=".ui.view.imgs.ISCameraActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yc.love.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.activity.LoveHealDetailsActivity" />
        <activity android:name=".ui.activity.LoveByStagesDetailsActivity" />
        <activity android:name=".ui.activity.ExampleDetailActivity"></activity>
    </application>

</manifest>